*,
    *:before,
    *:after {
      box-sizing: inherit;
      padding: 0;
      margin: 0; }
    html {
        font-size: 62.5%;
        /*
        what 1 rem is :
        1rem = 10px,
        10px/16px=62.5%
        */
    }
    body{
      box-sizing: border-box;
    }