{% load i18n %}

{% block subject %}
{% blocktrans %}فعال سازی اکانت در سایت آرتکام{% endblocktrans %}
{% endblock subject %}

{% block text_body %}
شما این ایمیل را برای فعال سازی اکانت خود در سایت اریکام دریافت کرده اید.

لطفا وارد لینک زیر شوید و اکانت خود را فعال کنید: 
{{ protocol }}://{{ domain }}/{{ url|safe }}

ممنون که از سایت ما استفاده میکنید.

تیم آرتکام
{% endblock text_body %}

{% block html_body %}
<p>شما این ایمیل را برای فعال سازی اکانت خود در سایت اریکام دریافت کرده اید.</p>

<p>لطفا وارد لینک زیر شوید و اکانت خود را فعال کنید:</p>
<p><a href="{{ protocol }}://{{ domain }}/{{ url|safe }}">{{ protocol }}://{{ domain }}/{{ url|safe }}</a></p>
<p>ارتکام</p>
<p>ممنون که از سایت ما استفاده میکنید.</p>

<p>تیم آرتکام</p>

{% endblock html_body %}