#easel{
    padding-top: 12rem;
    width: 100vw;
    height: 100vh;
}
#top-grid{
    display: grid;
    grid-template-columns :  1fr 1fr 1fr ;
    position: absolute;
    top: 1rem;
    width: 100vw;
    justify-items: center;

}
#info-icon{
    width:8.4rem;
    height:6.7rem;

}
#number-icon{
    color: #E9DAD3;
    width:8.4rem;
    height:6.7rem;
}
#profile-icon{
    width:8.4rem;
    height:6.7rem;
}
#timer-box{
    display: grid;
    grid-template-columns :  1fr 4fr 1fr ;
    position: absolute;
    top: 2rem;
    left: 46rem;
    /* background-color: yellowgreen; */
    width: 52rem;
    height: 9rem;
}
#timerhalf{
    align-self: end;
}
#dot{
    
    font-size: 6rem;
    color: #E9DAD3;
    letter-spacing: 2rem;
    text-align: center;
    align-self: center;
}
#timerfull{
    align-self: end;
}
#bottom-grid{
    display: grid;
    grid-template-columns :  1fr  1fr 1fr ;
    position: absolute;
    top: 85%;
    width: 100vw;
    justify-items: center;
}
#view-icon{
    width:8.4rem;
    height:6.7rem;
}