
.header{
    margin-top: 2rem;
font-family: 'ZCOOL KuaiLe';
font-size: 6rem;

text-align: center;
letter-spacing: 0.365em;

color: #E9DAD3;
z-index: 0;
}
#pizzaUp {
position: absolute;
top: 10rem;


}
#EllipseUp1 {
    position: relative;
    top: -33rem;
    left: 15rem;
    height: 12rem;

}
#EllipseUp2{
    position: relative;
    top: -48rem;
    left: -10rem;
    
}
#pizzaDown{
    position: absolute;
    left: -10rem;
    top: -1rem;
    
   

}
#EllipseDown {
    position: relative;
    top: 55vh;
    left: 47rem;
    height: 40rem;
}
#Ellipse4 {
    position: relative;
    top: 19rem;
    left: 26.5rem;
    height: 22rem;
}
#pictureRight {
    position: absolute;
    height: 100vh;

}
#hero{
    position: relative;
    top: 0rem;
    left: 79rem;
    height: 85vh;
    width: 70rem;
}
#line{
    position: relative;
    top: -60rem;
    left: 15rem;
    z-index: -1;
    width: 100vw;
    height: 30rem;

}