
.header{
    margin-top: 2rem;
font-family: 'ZCOOL KuaiLe';
font-size: 6rem;

text-align: center;
letter-spacing: 0.365em;

color: #E9DAD3;
z-index: 0;
}
#pizzaUp {
position: absolute;
top: 10rem;


}
#EllipseUp1 {
    position: relative;
    top: -33rem;
    left: 15rem;
    height: 12rem;

}
#EllipseUp2{
    position: relative;
    top: -48rem;
    left: -10rem;
    
}
#pizzaDown{
    position: absolute;
    left: 6rem;
    top: -11rem;

}
#EllipseDown {
    position: relative;
    top: 52vh;
    left: 29rem;
    height: 40rem;
}
#Ellipse4 {
    position: relative;
    top: 17rem;
    left: 8.7rem;
    height: 22rem;
}

#hero{
    position: relative;
    top: 0rem;
    left: 79rem;
    height: 85vh;
    width: 70rem;
}
#line{
    position: relative;
    top: -60rem;
    left: 15rem;
    z-index: -1;
    width: 100vw;
    height: 30rem;

}
#btn-login{
    position: relative;
    left: -27rem;
    top: 45rem;
    width: 42rem;
    height: 51rem;
    color: blue;
    opacity: 0;
    
    border-radius: 100%;
}
#overflowLogin {
    position: relative;
    top: -40rem;
    left: -6rem;
    width: 100vw;
    height: 100vh;
    z-index: -2;
    background-color: #C2CCC1;
    opacity: 0;
}