.container{
    background-color: #C2CCC1 ;
    height: 100vh;
    width: 100vw;
    position: relative;
    top: 0;
    left: 0;
    z-index: 100;
}
.brush{
    height: 100vh;
    width: 100vw;
    position: relative;
    top: 0.5vh;
    left: auto;
    transform: scale(0.95) ;
z-index: 101;

}
form{
    display: grid;
    grid-template-columns : 1fr 1fr 1fr 1fr 1fr 1fr ;
    gap: 0rem 7rem;
    position: absolute;
    top: 9.5%;
    left: 28.5%;
    height: 62%;
    width: 43%;
    border-radius: 14%;
    font-size: 1.5rem;
    font-weight: 400;
    z-index: 102;
}
.item{
    padding: 2rem 5rem;
    overflow: hidden;
   
}
.center{
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);

}
#username{
    grid-column: 1 / 5;
    grid-row: 1;
    background-color: #C2CCC1;
    border-radius: 0 20rem 20rem 0;
    border-style: none;
    border-color: #C2CCC1;
    border-width: 0;
    align-self: end;
}
#username-label{
    grid-column: 5 / 7;
    grid-row: 1;
    background-color: #C2CCC1;
    border-radius: 20rem 0rem 0rem 20rem;
    align-self: end;
    justify-self: start;
   

}
#password{
    grid-column:  3/ 7;
    grid-row: 2;
    background-color: #C2CCC1;
    border-radius: 20rem 0rem 0rem 20rem;

    border-style: none;
border-color: #C2CCC1;
border-width: 0;
align-self: end;

}
#password-label{
    grid-column: 1 / 3;
    grid-row: 2;
    background-color: #C2CCC1;
    border-radius: 0 20rem 20rem 0;
    align-self: end;
    justify-self: end;
    padding-left: 6rem;
    
}
#btn-login-form{
    background-color: #E9DAD3;
    grid-column: 1/ 7;
    grid-row: 3;
   align-self: end;
  
    border-style: none;
border-color:  #E9DAD3;
border-width: 0;
cursor: pointer;
padding: 2.5rem 0 ;
}
#forget-pass-btn{
    background-color: #E9DAD3;
    grid-column: 2/ 6;
    grid-row: 4;
    align-self: end;
    border-style: none;
border-color:  #E9DAD3;
border-width: 0;
cursor: pointer;
border-radius: 20rem;
padding: 1rem 0;
}

