#sn_wrapper {
    background-repeat: no-repeat;
    direction: rtl;
    background-image: url(image/addon.png),url(image/Presentation1-removebg-preview.png),url(image/Prقثesentation1-removebg-preview.png),url('image/puzzle-piece.png'),url('image/puzzle-piece.png'),url('image/puzzle-piece.png');
    width: 2000px;
    height: 772px;
    background-size: 332px,706px,758px,275px,275px,275px;
    background-position: 561px 235px,414px 2px,117px -63px,572px 451px,360px 451px ,784px 451px;
    position: absolute;
    background-color: #C2CCC1;
    overflow-y: hidden;
    overflow-x: hidden;
}
#sn_image {
    position: absolute;
    top: 188px;
    left: 126px;
    width: 299px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}
#sn_puzzle {
    position: absolute;
    width: 292px;
    transform: matrix(-1, -0.01, 0.01, -1, 0, 0);
    top: 53px;
    left: 847px;
}
.sn_box {
    background: rgba(0, 0, 0, 0.08);
    border-radius: 15px;
    float: left;
    position: absolute;
    font-family: 'B Koodak';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 50px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #1E2736;
    border:1px solid black;
    padding-right: 15px;
}
#sn_firstname {
    width: 205px;
    height: 45px;
    left: 394px;
    top: 70px;
}
#sn_lastname {
    width: 211px;
    height: 45px;
    left: 339px;
    top: 147px;
}
#sn_email {
    width: 311px;
    height: 45px;
    left: 574px;
    top: 376px;
    text-align: left;
    padding-left: 15px;
}
#sn_username {
    width: 347px;
    height: 45px;
    left: 556px;
    top: 141px;
    text-align: left;
    padding-left: 15px;
}
#sn_password {
    width: 230px;
    height: 45px;
    left: 909px;
    top: 143px;
    text-align: left;
    padding-left: 15px;
}
#sn_confirmpassword {
    width: 229px;
    height: 45px;
    left: 845px;
    top: 210px;
    text-align: left;
    padding-left: 15px;
}
textarea{
    resize: none;
}
#sn_address {
    width: 573px;
    left: 423px;
    top: 589px;
    height: 104px;
}
#sn_postalcode {
    width: 360px;
    height: 45px;
    left: 427px;
    top: 528px;
    text-align: left;
}
#sn_city{
    left: 799px;
    top: 528px; 
    height: 45px;
    width: 240px;
}
#sn_singup {
    width: 106px;
    height: 45px;
    background: #1E2736;
    border-radius: 15px;
    float: left;
    position: absolute;
    font-family: Mj_Ramollah;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFEFB;
    left: 1021px;
    top: 376px;
    background-image: url('image/icons8-art-64.png');
    background-repeat: no-repeat;
    background-size: 40px;
    padding-right: 10px;
}
.sn_box::placeholder {
    color: #1E2736;
    text-align: center;
}