#sn_wrapper {
    background-repeat: no-repeat;
    direction: rtl;
    background-image: url(image/addon.png),url(image/Presentation1-removebg-preview.png),url(image/Prقثesentation1-removebg-preview.png),url('image/puzzle-piece.png'),url('image/puzzle-piece.png'),url('image/puzzle-piece.png');
    width: 2000px;
    height: 772px;
    background-size: 332px,706px,758px,275px,275px,275px;
    background-position: 561px 235px,414px 2px,117px -63px,572px 451px,360px 451px ,784px 451px;
    position: absolute;
    background-color: #C2CCC1;
    overflow-y: hidden;
    overflow-x: hidden;
}
#sn_image {
    position: absolute;
    top: 188px;
    left: 126px;
    width: 299px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}
#sn_puzzle {
    position: absolute;
    width: 292px;
    transform: matrix(-1, -0.01, 0.01, -1, 0, 0);
    top: 53px;
    left: 847px;
}
#sn_home{
    position: absolute;
    top: 3%;
    left: 2%;
    width: 50px;
}
#sn_home:hover{
    transform: translateY(-1rem);
    transition: all 0.5s;
}
.sn_box {
    background: rgba(0, 0, 0, 0.08);
    border-radius: 15px;
    float: left;
    position: absolute;
    font-family: 'B Koodak';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 50px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #1E2736;
    border:1px solid black;
    padding-right: 15px;
}
#sn_firstname {
    width: 205px;
    height: 45px;
    left: 394px;
    top: 70px;
}
#sn_lastname {
    width: 211px;
    height: 45px;
    left: 339px;
    top: 147px;
}
#sn_email {
    width: 311px;
    height: 45px;
    left: 574px;
    top: 376px;
    text-align: left;
    padding-left: 15px;
}
#sn_username {
    width: 347px;
    height: 45px;
    left: 556px;
    top: 141px;
    text-align: left;
    padding-left: 15px;
}
#sn_password {
    width: 230px;
    height: 45px;
    left: 909px;
    top: 143px;
    text-align: left;
    padding-left: 15px;
}
#sn_confirmpassword {
    width: 229px;
    height: 45px;
    left: 845px;
    top: 210px;
    text-align: left;
    padding-left: 15px;
}
textarea{
    resize: none;
}
#sn_address {
    width: 573px;
    left: 423px;
    top: 589px;
    height: 104px;
}
#sn_postalcode {
    width: 360px;
    height: 45px;
    left: 427px;
    top: 528px;
    text-align: left;
}
#sn_city{
    left: 799px;
    top: 528px; 
    height: 45px;
    width: 240px;
}
#sn_singup {
        width: 120px;
        height: 60px;
        background: #1E2736;
        border-radius: 15px;
        float: left;
        position: absolute;
        font-family: Mj_Ramollah;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 26px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #FFFEFB;
        left: 1021px;
        top: 376px;
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAABmJLR0QA/wD/AP+gvaeTAAAVuklEQVR4nO1bd1iUx/Z+v297oSx1WUCqIoJUFQGNiIJoosRETZRgVHJRY4sao96EG6OmmsQkmkusydUbb9QYY9RIrChRLICRWEGpsizL0suy7ZvfHxQpu7SYe+Pz/N7n4Q9m5pyZeb+ZM+ecmQX+H08uQkOnC/6oDtbjGMj/AhGuc/g0zStxlQbpC8uup/dXD/04B/XfhE5EveAqEvH4NL0hZtSiqf3V88QSYMZlL3rJ01n0wTBfIa1nDp0+efmd/uh5IgmIGJRooyPEN9zOBj6W5pjj6kT9J/nYP/Lyiqb0VdcTSYCBo3s2xEZCODQFAIh1lkJYq8YP/z6zXy6Xu/RF1xNJgJBLx4faWglb/6dA4Q1vT5w+dplfmF92hBDC6a0u9p8zxGYEBydacPVNYug56vRbuyofk1pKy5DgYFvLDoX2Ah7iXZ3w3Y4Ufxd3aRKAf/RK2WMaFCJc5/B1ZsxYLk8wkcPjRDapNW4UwOYKeVpto4YLmtKw2OzvGuq1SVdu7izrbz+hPgmeljzqtyPjwkSd67QGBnGXs/Dm5vk6maPM18nJNqcnfX94BYz2mTuEI+atYvSG6QM8nPQBEQFmA4O8aEdPJ4gsRADABQBVSTn39Lcn51w8fGFGuO+88Rdv7s7oT380dM7OIoneWB2XReNpB3uc+ekKZ87iKZsAxPakr98EhHknuAgsuVsJwbjo+BhueOxolsReYrK9jaMtXnwjjjN4xBCLPW/v+vX9pJ2haze8cr3PHVMsO3MOy6QDN9rGCu9l3QcBJsvl8sEymexud+r6QwAVOXz+SgLyzvi4GG707AlsnoDXa+GAiEAo507i3Th97WpeXl64u7v71b71Tur0DIipaicxH0WlKgCgQNOJAFZ0p65PBAQHJ1rYCXlHLOwkw+d/vEho62TXF/E2jJ89EXeu3GYf3n8xtaSkxMvR0bG4t7KEYhXl1dVTBASUERNWrtZCLOS3Nh7Tk75eH4NhfvF2dkJe9rDxwWFr9ib1e/IAQNMU5qx/BWdSrglu/pb/EyGk1zHJpexdtxr1hqrUUlWXVaDWM9hyvwAR0cEtJcSnJ329WgGhPglWZuaC36JmjLWLXjD1sQRQFraWmLl2NrZ9vj/Awdl2I4C1vRQl9YR59uPb989erq6x8BIKoGMIHuh0uFJajojoYLyQENPatqonZT2ugImeS3gSa1Ha+GdH20UvmMpiDAxSvjmBFZPWIDEoAcuiVuK7Tw9C06jp5fgfIXBcMHyfCsQ/P/1hdUFBQVhv5S5nf52loyhPaUyQYsudPNwe4gzz2DA0GRjELXwGbHbzN6JA/asnXT0SYJDic29/T69JS6ezGIbgs9e24sAP15Hu9wLSZ32IS+HzcfSyAhtefq9fJExf8QIIl0vt3Hr8RH5+vmXPEs1Izdyumvxc2NOWVuZMTMJkRMfHQCwRQ6WsAgAGIJ9WVqp6dIa6JSB06NwxPC474eV181iEonDl53TceVCBjNF/Q52dGwjNhtrcDjdCXkIBJDi2+3gXHdXKKux5ZzdWjl2CBcEJWDNhOb7d8A3KChUAAIqm8cqHC1HwsMJ8y6bDNw8cOMDtLQkymSyLAbIVBaUAAAc3B5QUlwOA1kEqXeXj46PtNwEREevYEivz/yx+M55Nmzc7XeePXcF9j6fAsDq52hSF+4PG4eLPHU+0siIFPohfD5k5H1/sXIEDv7yHjZ8kwsGcjw/nbETKrmMghEAgFmD59jfQoGccjx28mTs9dHmvMz1qtSbjxvnrOLrtCKoralFUUAYAfKVS6dobeZMEGCoL57h5OtoNHBPYVlZbWQet0MJoe63QAk3VtW3/E0Kw841kTI+LxIz4cTCzaI5d7KRWmBY31rA5eRmyz17DvnebtylPwMPCz5ZB4mw/AFbckikRr3r2ZgKaJk35uSPp2u2/1pEbbDfs33cBebklYBhmcG/kTRCwjhZbij94acEUVmO7w8bRQwZRpdyohKiqBBaOj47Gu1dugyYEUZNGtBYZKFDrQBhbmYOUbW1r7v7GWy9tvJ95lzm1NwUAwOaw8coHCzFqeqSkSUvdGTd8/qvoJl7x8ZnOZVicV29EL+XmBz5D3QueilsBz+HLL08AoIf0m4BQv/yx1jaWFq5BXh3KJ84aC48H58FrqO5QztI2wetWCibNjGwru5d5D8NHtpMnWOjgYP+OTCZTAYBUKs339RuUNHio26ifdx5lqhTNwSJFURgXF42Vu9aw7d0dtkwcszRrZMAco8vZUm9mQ2gOq9FS2lamchmK4pwCGBjmbblcHmxMrkcCrCSWr06KDWfXdXI13Id6IHbuBIw4+wWcbp2BRWkO7HMvYeSZzzBiuCtGTR3d1lZd2wBz89aAjcqUyaQ7jPW14f0F6RSonWk/pHbozdHTCWv3JNFR8TEBIi7/7mi/ec93lmWs6qpoXROPYh7FRoRmgxaIUKmqEYOiN/WLAK1OPzF8XDC0RjzumPhorE1ehmkD6hGlPIcpwkIsSpqJxPVzQVGPVqvE3grl5TXN0weOdjeI+rr6b7PTsus6l1M0jeiXJ2LlrjU8M4nZ/lmT177evj49/aCasLhyYbWig5zBTAJVeTUAjCaEdOvsdSFglP/sQTw+lyOR2ZgUGjDYBa+8/TLW/Ws1ln2yEH5P+XdpM2j4YFxLvw1CCBgwFd0NAhS7Ul3XaDLAGTDYBSt3r2FVVtd/9PmmfW+2ryMUroorOoYSaqElVGU1AMAuLS2Vddd1FwIMDO3v7etGaUwOp3dwH+oBvpkI509ngQbt3G1jxhBo7+bQrU9iP0CKl99JoFJPZW7Myy1IaC3n6JoumJUXNrZvW8O3QkXzCgAhrG777tIph2Z5ubk5sIxmHPqIuKQ52LMjBb//dv8FQohRax7h86qYJ+S9F/nieLOe9A0d7Q+phyPOnsrcJpfLRwMAgSHTrDxf175dI98SDxXN2w8sMqA7nV0I4JsJ3WxsLboE3Aa9Aaf3pGDjs2uxdGQi3hy/HAc/+Dfqq7ps3TY4ew1Awnvzsfn971yW/e3DQ+Fe8zpMMswvwZclZq6ExIRa+4YPbSvXqDW4+NOv2Pzyu9i/cU8HnZEvTcCZk1ksUPTXubm5PA2Xf4NfXyFsbwg1IkvIFS0nFSHdroAuBoLNYVkKOiU49Do9tiZuAldRidcGyOA1yB2qJi1+uHYPG0+/hdf3JMHGhM3wHumDNXuTcPiL76dyxayno8IW36NZVIVBb3AhhEinLpnGjZgRyQKAglv5uHgwFZmnr2KolSXiba2RfC4LtyKD4BPmCwDwGuYNVVkVqqvqPSyszBIzM7dvCQlaKBdWK1warJxaCJCgIr95BdCg+kgAm6YYhnTwPlK2/wSRsgrvB3iD3WLpRWI2lnu5wyavGP9anYyVe5NMdmIts8UrHyyEul7NLb5XNLShph4Seyu4eLuAomlUKSqRvOhTaCpr8YzUFktDAmDNaw4JDIRg1yf/wZDQjaAoCjRNwWXwABQ8kCPAatA8AFsIcFVcUdxGgFYoQa2qzVfp2xZoqmsqbWhQozUiIYTgwsGzmO/m3Db59njR1RHKglK0BiTdQSAWYFCwFwIjg+Hq4waKbu4+93ourJt02BcagDg3p7bJA8AoqTV4DU3I+OVRnGFubYG62gaAIKCsrMy+syHU8YSwCAxqHj/VRwIaGpsKyhRV4LbMtbG2EQ0NTfA0FxtVwKFpDLGWoDTPuIvcG3j4e+JBjXFbQoFCnEyK83tSHg2azYJezwAADAYEdDGEFAWt00CoGzUAQd9OAcIYbuc9kBv4LQTwBDwQNOfcTaFaqwVf3P+remuZNfhiPvLrHp1mBARZFdVYfzsX797MQWBMSFtdXWUdLCxbPghNrIlY/VtnQ1h9KQ25d4oAwFqpVBr/ejDmB9CcGzm38kEzBDwKYHPZCBg+BOcU5UYVFNY3oqCmHh5+vQreTGLwSF9kVlSjQqPFt/kPMevSdWwtKUXAuGCIzYVIO5SKg5v2QaPWQFmkgFRmDQCgCOGmpx9UM+yOHmGDQAKVstkO6PV6p14TcCV750MWm659kFMMs5ZVMHHZNCTnFeGaqmOKrbxJg7//fhexi54Dl/9o3zIGBhp137JDgTEh2FNYghmpV5BjzseGNfHY+9lreH5iKL75cBE+eu0F0HIVvlyyGbomHWRObadOGQC0GMI2fdV8CZTKFl8ALJN2wKifTCjqcOqZrHmzvQZAhZbz/NMl2PTmdtgWyzFYJIJKr0eWqhITXpmMiFlRAIAbqddxdPcJlNzJB6EAkaU5wqeEY9LcSeCL+N0S4D3SB8t2rsa2FVsxwn8gvD0ffTQrCzGsLMT4+4LnMGPpZvgGerTVMQyTB7R5hE+XDQwVAkCDhRQ16qLm+dCmfQGjBNRW1CcfP5w2O2FhLFtEUWgggNdwb6w7vgk5GXchz5PDw0KMKWG+MLMyBwB8//n3uHQyA9Lnp8JvsQ9oFg21vBQZx1OQ8dIGrN21uq2tKfx66DzCAzwxZfxw44Nl0Zj5dCiu3G+eGAXIZY6O94CuHmHFAH8MCmuZdzfOkFH/++LN3RkMQ4rPn86EXbsWbA4bQ0J9MT4uGiOfCWub0PVzWUg/lQnPtW/AIsAfNJsNUDQEjo5wSUwAx8sb29/a1e3kASA38x6ejw4BTZu+s31m3DDcvpEHRUkFCMiZ1nINl3+D184Q8hsq8e8NO1omSZncAiYDkApV9fJdyT8a+ISBeQ93yD/tOA776dPAEgqN1js8PxVFdwtRfK+oWz1W9hLIFcZv0RmG4OqNXLz3+UGoG5twbH8qALrt6MnM3N5I2hlCrcAcdapKEEKAbpwhkwRc+v3rI7U19fcOfXcWDizTz8m0TVqU5T2EuY+3yYlRLBYsAv2Rm3XPZBsA8IkIxNmM2x3KlBU1+PrAGcxY8BGSvzoCf7Ueu8OCcDE1G7U19VOLlcqBrW3bG0KGxQHF4aKuthEEfdwCrahW1k7fnXzEUFashKMJBrRNWrB43DavzhQogaDHe4PAscFIz7iHJq0O56/cwuvrd2PO8s9RkZmL9UM8sX34UMQ6S+EkEmCs1AYphy6yWAbD8lb5zh4hMZdAVV4DgBpgKhrtdtRpt76+rdfp1qxdvpVwtdoO9qAVIgsRKArQVlV3rWwHXUkJ7AZIu20jsZfA3tkesfPew4G9vyCS5uDAU8OwzMsNAzt5ojOcZTh5NB1NTbq5SqVSCnQ1hBqhZetFCV+hUBiN1nq8GTp9ZdvHTVrd+bdW/hMSxgCbThIURSEkZiRUv5w0qUNd/BCNhUVoH/Kagn/UMITbW+OzIB9EyezAo40vPSeRAJ4iIc6duMbXGQwLAaCzR1jHt4SqrDUxYjwv0Kvb4Tx5ZXRNVUNO0qpkSHQ6SDtJxS6IRePNm1CePA3CdMwkqEtKUPjlV5i5ahZ4wp7fEQRHDcPViiqYegJQp9PhcFEpEq7eQLFGi2OHLoIwWCSXy4WdPcI6viUUZW3OkFE70CsCMjO363bs03trNLqiJX/bBFTWwJUFtN4PiS3FWLtrNQSFOchdvwHyg4egOHocxcnbULD5C7y4fBpCJoZ020crrGW2kNhKkF3Z7pIFBNcrqvHurVzMTMvEHTEXyxZNw6HtqyG1tkD6+WxrQlHzmts+MoQakRUetiZGaOMroA8PJNYxU2ac8/j1zP3MeTPe8VuVFI/QsYEoY4AqBrBysMbrySuQl30fOVk50Ki1kI4Igd/oRAh6GSgRQpD2fSpKy6twgWbDWSRAilyJn0vLIBAK8EzMCKx4Kgjm7fTFTR6FbQfOInys/wpCyFej/Oa1eYQaoSWUD2padRtdAX16ITJ27Fg9ISTg56Np327benjmj9+fx6Ll0+Hp4QgVA9QQwN3PE+79CIweXM/Bj58fAEUYLF41DV9s/A6nS5UYG+KLdbMnYMhA4/FMWLAXvtz3C36//sCNBOF5UCSj1RBqRRLUtCRGTGWG+vxGiKIoQgiJ8/ZzvX02JWPdysWfsdw9HTF1WgSCwn2hZrFRR4BGApgOoJvBaPW4eTYTqT+koqJUhWlxkRgdGQiapmDvaI035k5GoI9bT+PBrGdG4eiB8xga6LmKETWMbjWEWqE5murrodcbwGEbD4j69UqMoigCYKNCofgxZvLIby6n3Qz+esdRbEzaBf9gLwQGD4Krhww2MhsIJWYwgIJOz6C2ph7lJeV4+KAE2dfu4vesHHj5uCB6QhBCRvmCxXpkkoYGej78NeOOfaCPW4+vPieMDsCO/adRmCcPPnx4S2jspHfacoS0yAxVFXWwlVo+PgJaIZVKbxJCQkMj6AVhY/yWV1XWuWVn5SI3pwhnT2dCqahEY50aOp0OXC4bZpZi2NpL4ORsi/CnfLBgWSzMzLu4zw8oUOtP/XI1W8zjpS15eVKPBHA4LMyYFIajB9OwePX0Vc2G8KFLg5UTGLEEqvIq2NpbSgkhHIqiOqTQ//BDyRaFWwgh/6RAnh8TFbR0zPigUPTtHTIDkFMUsFsqlf5AUZQeAMYPn1+fky8XD3Lr9nIHABAbNQJ7F29CVWX9BC8Xqw8rVAWNZQNHCtVCy9bECKvllqiwvdxjeytMUZQBwAEAB5RKpVSvJ1GEQggFMgSAK0BZAoQHoAkEFQAKANyhKHLRYDCccXJy6nJ9ZtDr951Nv7V0kJvM5Dh1OgPSMu7g+LksNDZocOFUJjV99nj/m5tO6IDmxEh5W2IEA/BnEdAednZ2CgB7W/76DY3W8F3K+azEBbOiuuT0Ch4qcSL1On5OzYKTgzVixgRg5pRwfLjzJ3z01ZLxvPpKUIweaoEEpWWtGeuuhvBPfS3+R3Hp1jcZ44bN1+QXl4ndnO1R16DGybQbOH42EzX1jZgUEYTt7y+Ag+2jJ7ocmsbDwnKOubVE4Zx9yl5S85CyGuzYXGkkM/SXJgAAAWH2f3Po3AKAoi9fz0FYkBcWxscg2Me9S+JEpzOARdNobGjChvfjmpYv3f7z+Kigic/NeIoGAEKoLs7EX50A1Gs0285c+n3h8nmTsSox9tEz2HYoU1Xj2LksHDuXiYGDneEb4A6apl0PHUmaAVBWBAgFALolgdoef3kCrtzckz1hxIIcJ6m1V/vJ6/QGXP0tFycuXEfmrTyMHDUUq9bHw83Tsa0NQ9MWREfPoWnDOtAoI4zhk876//IEAEC9RrN5748XNg/38xQUyctx7GwmUtJ+g5OLPSInDUPiWy+Cw+08FeqgzM7uXMvpNMuU7sf2i5E/ExM9l/D0VtpfGYJggYBHRUQHITJmOKSO1p2b1oDCfmKgv3J0tOvVbxGeCAJacTEta6WLu8PHnYwfAZAKQu3SaBoPubm5NfVF5xNFQG5uLk8kNvsFwBgApSD4xsCmdzvb2d3/X4/tvwqFQmFHCHkif/L3l8P/AbTJnZONPuJPAAAAAElFTkSuQmCC);
        background-repeat: no-repeat;
        background-size: 43px;
        padding-right: 10px;
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

}
#sn_singup:focus {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.171);
    transform: translateY(-1rem);
    transition: all 0.5s;
}

#sn_singup:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.171);
    transform: translateY(-1rem);
    transition: all 0.5s;
}
.sn_box::placeholder {
    color: #1E2736;
    text-align: center;
}