#sa_wrapper {
    background-repeat: no-repeat;
    direction: rtl;
    background-image: url(image/Image2.png), url(image/Two_Styles_of_Girls_illustrations-removebg-preview.png),url('image/Abbey_Lossing_on_what_it_s_like_to_be_a_staff_illustrator_at_Buzzfeed_and_Vice_News-removebg-preview.png'),url(image/Image1.png),url(image/Image1.png),url(image/Image2.png),url(image/Image2.png);
    width: 1600px;
    height: 772px;
    background-size: 427px, 393px,691px, 503px, 498px,427px,427px;
    background-position: 137px -7px, 1206px 70px, -48px -48px, 991px 601px, 613px 602px,565px -7px, 994px -7px;
    background-color: #E9DAD3;
    overflow-y: hidden;
    overflow-x: hidden;
}
.sa_box {
    width: 387px;
    height: 45px;
    background: #1E2736;
    border-radius: 15px;
    float: left;
    position: absolute;
    font-family: 'B Koodak';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 50px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #FFFEFB;
    padding-right: 15px;
}
#sa_firstname {
    left: 155px;
    top: 23px;
}
#sa_lastname {
    left: 154px;
    top: 82px;
}
#sa_email {
    left: 154px;
    top: 141px;
    text-align: left;
}
#sa_username {
    left: 154px;
    top: 201px;
}
#sa_password {
    left: 583px;
    top: 23px;
}
#sa_confirmpassword {
    left: 583px;
    top: 82px;
}
#sa_invitationcode {
    left: 583px;
    top: 141px;
    text-align: left;
}
#sa_label {
    font-family: Mj_Ramollah;
    left: 846px;
    top: 201px;
    font-size: 25px;
    width: 124px;
    text-align: center;
    padding-right: 15px;
}
#sa_selection {
    left: 583px;
    top: 201px;
    width: 248px;
    padding-right: 15px;
}
#sa_address {
    left: 1014px;
    top: 23px;
    height: 120px;
}
#sa_city{
    top: 149px;
    left: 1014px;
}
#sa_postalcode {
    left: 1013px;
    top: 200px;
    text-align: left;
}
#sa_singup {
    width: 106px;
    height: 45px;
    background: #1E2736;
    border-radius: 15px;
    float: left;
    position: absolute;
    font-family: Mj_Ramollah;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFEFB;
    left: 706px;
    top: 313px;
    background-image: url('image/icons8-art-64.png');
    background-repeat: no-repeat;
    background-size: 40px;
    padding-right: 10px;
}
.sa_box::placeholder {
    color: rgba(215, 211, 211, 0.82);
    text-align:center;
}