.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    overflow-x: auto;
    z-index: 100;
  }
  .modal {
    padding: 10px;
    max-width: 1000px;
    margin: 10px auto;
    /* background: #9980FA; */
    background: #fff;
    border-radius: 10px;
    border: 4px solid ;
    border-color: #ecf0f1;
     text-align: center;
     position: relative;
  }

  .modal img{
      max-width: 500px;
      max-height: 700px;
      border-radius: 50px;
  }

  .flex-container{
    display: flex;
  }

  .details{
    width: 100%;
    align-items: center;
  }

  .first-row{
    /* display: flex; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
  }

  .first-row b {
    font-size: 1.5rem;
  }

  .first-row img{
    cursor: pointer;
    width: 45px;
  }

  .content{
    direction: rtl;
    text-align: right;
    margin: 40px;
    font-size: 1.5rem;
  }

  .comments{
    overflow-y: scroll;
    max-height: 420px;
  }