/*.bodyClass_addex
{
    overflow-y: hidden;
}*/
.main_div
{
    text-align: right;
    direction: ltr;
    background-color: #f5f5f5;
    overflow: hidden;
}
#img_back_addex
{
    text-align: center;
}
#p_addex
{
    position: absolute;
    margin-left: 860px;
    margin-top: -530px;
    font-size: 22px;
}

#img_exhi_addex
{
    position:fixed;
    margin-top: -560px;
    margin-left: 320px;
    z-index: 5;
}
#exhi_image_addex
{
    width: 180px;
    height: 100px;
}
#img_exhi_btn_addex
{
    border-radius: 50%;
    width:30px;
    height:30px;
    margin-left: -45px;
    margin-top: 110px;
    z-index: 3;
    position: fixed;
    display: none;
}
#img_exhi_label_addex
{
    border-radius: 50%;
    width:40px;
    height:40px;
    margin-left: 5px;
    margin-top: 55px;
    z-index: 3;
    position: fixed;
    cursor: pointer;
    background-color: #d1d1d1;
    text-align: center;
    font-size: 10px;
}

#title_addex
{
    width: 620px;
    height: 40px;
    position: absolute;
    margin-left: -1000px;
    margin-top: -450px;
    direction: ltr;
    text-align: right;
    padding: 10px;
    font-size: 18px;
}
.date_addex
{
    margin: 10px;
    width: 100px;
    direction: ltr;
    text-align: right;
}
#date_addex
{
    position: absolute;
    margin-left: 350px;
    margin-top: -370px;
    direction: ltr;
    text-align: right;
    width: 600px;
    padding : 20px;
}
#postselect_addex
{
    width: 645px;
    height: 40px;
    position: absolute;
    margin-left: -1000px;
    margin-top: -230px;
    direction: ltr;
    text-align: right;
}
#submit_addex
{
    position: absolute;
    margin-left: -720px;;
    margin-top:-160px;
    width: 80px;
    height: 30px;

    border-radius: 20px;
    border: 5px outset #a2bff3;

    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1;
    padding:0px;
    text-align: center;
    background-color: #d1d1d1 ;
    color: #00324a;
}