.main_div_addau
{
    text-align: right;
    direction: ltr;
    overflow: hidden;
    background-image: url('../img/download_addau.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height:100vh;
    background-color: #dcd0c4;
}
#p_addau
{
    font-size: 30px;
    margin-right: 300px;
    margin-top: 100px;
    text-shadow: 0px 15px 20px red;
}
#auctionselect_addau
{
    direction: rtl;
    text-align: right;
    width: 600px;
    height: 40px;
    margin-right: 350px;
    margin-top: 70px;
}
#postselect_addau
{
    direction: rtl;
    text-align: right;
    width: 600px;
    margin-right: 350px;
    margin-top: 50px;
}
#submit_addau
{
    width: 140px;
    height: 40px;
    border-radius: 20px;
    margin-top: 80px;
    margin-right: 750px;
    background-color: #c900c721;
    color: #c100a9;
}
#submit_addau:hover
{
    box-shadow: 10px 10px 20px rgba(255, 0, 242, 0.349) inset;
}