#contact_wrapper{
    background-color: #E9DAD3;
    width: auto;
    height: 100vh;
    overflow: hidden;
}
#contact_title{
    color: #1E2736;
    text-align: center;
    top: 4rem;
    left: 80%;
    position: fixed;
    transform: translate(-50%, -50%);
    margin-top: 10rem;
    font-size: 8rem;
}
#contact_img{
    top: 8rem;
    position: absolute;
    left: 0rem;
}
#comment_img{
    width: 64rem;
}
#contact_text{
    font-size: 2.75rem;
    color: #1E2736;
    direction: rtl;
    border: 0.5rem dashed #1E2736;
    width: 50%;
    margin-top: 24rem;
    margin-left: 65rem;
    padding: 14px;
    text-align: justify;
}
#logo{
    top: 0rem;
    position: fixed;
    left: 59rem;
}
#contact_email{
    direction: ltr;
    display: block;
}