.bodyclass {
    background-color: #1E2736;
    overflow: auto;
    padding: 0;
    margin: 0;
}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;
}

#search {
    width: 640px;
    height: 50px;
    background: #E9DAD3;
    border-radius: 15px;
    position: relative;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: right;
    padding-right: 40px;
    color: #FFFEFB;
    margin-left: auto;
    margin-right: auto;
    top: -3px;
    background-image: url('../img/search-icon.png');
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: right;
    grid-column: 2/3;
    grid-row: 1;
    align-self: center;
    justify-self: center;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.contact {
    background-color: #E9DAD3;
    padding: 0.5%;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 15px;
    font-family: 'B Koodak';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    grid-column: 3/3;
    grid-row: 1;
    align-self: center;
    justify-self: center;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.contact:focus {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.171);
    transform: translateY(-1rem);
    transition: all 0.5s;
}

.contact:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.171);
    transform: translateY(-1rem);
    transition: all 0.5s;

}

.profile {
    height: 140px;
    width: 140px;
    margin: 40px;
    /* top: -4px; */
    /* position: relative; */
    grid-column: 1;
    grid-row: 1;
    align-self: center;
    justify-self: center;
    /* left: -450px; */
    cursor: pointer;
    border-radius: 50%;
    border: 0.2rem solid #E9DAD3;
}

.profile:focus {
    transform: translateY(-1rem);
    transition: all 0.5s;
}

.profile:hover {
    transform: translateY(-1rem);
    transition: all 0.5s;

}

.profile_name {
    grid-row: 1;
    grid-column: 1;
    align-self: end;
    justify-self: center;
    font-size: 2rem;
    color: #E9DAD3;
    font-weight: 700;
}

.showplace {
    background-color: #E9DAD3;
    width: 98%;
    height: 50rem;
    left: 11px;
    border-radius: 15px;
    position: relative;
    top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;


    align-items: center;
    justify-content: center;
    align-content: space-between;
    padding-top: 5rem;


}


.auction {
    background-color: #E9DAD3;
    width: 98%;
    height: 50rem;
    left: 11px;
    border-radius: 15px;
    position: relative;
    top: 50px;
    padding-top: 5rem;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    align-items: center;
    justify-content: center;
    align-content: space-between;




}

.blue {
    background-color: #1E2736;
    padding: 0.5%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15px;
    font-family: 'B Koodak';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: white;
    margin: 30px;
    width: 200px;
    cursor: pointer;
}

.background {
    background-color: #C4C4C4;
    width: 400px;
    height: 200px;
}

.back {
    width: 120px;
    height: auto;
    grid-column: 2/3;
    grid-row: 1;
    justify-self: center;
    align-self: center;
    cursor: pointer;
    border-radius: 100%;
}

.back:focus {
    transform: translateY(-1rem);
    transition: all 0.5s;
}

.back:hover {
    transform: translateY(-1rem);
    transition: all 0.5s;

}

.next {
    width: 120px;
    height: auto;
    grid-column: 4/5;
    grid-row: 1;
    justify-self: center;
    align-self: center;
    cursor: pointer;
}

.next:focus {
    transform: translateY(-1rem);
    transition: all 0.5s;
}

.next:hover {
    transform: translateY(-1rem);
    transition: all 0.5s;

}


.backa {
    width: 120px;
    height: auto;
    grid-column: 2/3;
    grid-row: 1;
    justify-self: center;
    align-self: center;
    cursor: pointer;
}

.backa:focus {
    transform: translateY(-1rem);
    transition: all 0.5s;
}

.backa:hover {
    transform: translateY(-1rem);
    transition: all 0.5s;

}

.nexta {
    width: 120px;
    height: auto;
    grid-column: 4/5;
    grid-row: 1;
    justify-self: center;
    align-self: center;
    cursor: pointer;
}

.nexta:focus {
    transform: translateY(-1rem);
    transition: all 0.5s;
}

.nexta:hover {
    transform: translateY(-1rem);
    transition: all 0.5s;

}


.timer {
    grid-column: 1/2;
    grid-row: 1;
    align-self: center;
    justify-self: center;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    text-align: center;
    pointer-events: none;
    background-color: #C4C4C4;
    text-align: center;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}

.calendere {
    grid-column: 5/6;
    grid-row: 1;
    align-self: center;
    justify-self: center;
}

.calendera {
    grid-column: 5/6;
    grid-row: 1;
    align-self: center;
    justify-self: center;
}

.bannera {
    grid-column: 3/4;
    grid-row: 1;
    background-color: #C4C4C4;
    position: relative;
    width: 100%;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.bannera img {
    margin: auto;
}

.bannere {
    grid-column: 3/4;
    grid-row: 1;
    background-color: #C4C4C4;
    position: relative;
    max-width: 100%;
    max-height: 100%;
    text-align: center;
    padding: 20px;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.bannere img {
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}

#status {
    grid-row: 2;
    grid-column: 2/3;
    align-self: center;
    justify-self: center;
    cursor: auto;
}

#profile {
    grid-row: 2;
    grid-column: 4/5;
    align-self: center;
    justify-self: center;
}

#profile button {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

}

#profile button:focus {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.171);
    transform: translateY(-1rem);
    transition: all 0.5s;
}

#profile button:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.171);
    transform: translateY(-1rem);
    transition: all 0.5s;

}

#enter {
    grid-row: 2;
    grid-column: 3/4;
    align-self: center;
    justify-self: center;

}

#enter button {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

}

#enter button:focus {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.171);
    transform: translateY(-1rem);
    transition: all 0.5s;
}

#enter button:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.171);
    transform: translateY(-1rem);
    transition: all 0.5s;

}

#statusa {
    grid-row: 2;
    grid-column: 2/3;
    align-self: center;
    justify-self: center;
    cursor: auto;
}

#asara {
    grid-row: 2;
    grid-column: 4/5;
    align-self: center;
    justify-self: center;

}

#asara button {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

}

#asara button:focus {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.171);
    transform: translateY(-1rem);
    transition: all 0.5s;
}

#asara button:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.171);
    transform: translateY(-1rem);
    transition: all 0.5s;

}

#entera {
    grid-row: 2;
    grid-column: 3/4;
    align-self: center;
    justify-self: center;

}

#entera button {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

}

#entera button:focus {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.171);
    transform: translateY(-1rem);
    transition: all 0.5s;
}

#entera button:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.171);
    transform: translateY(-1rem);
    transition: all 0.5s;

}

#bpost {
    width: 70px;
    height: auto;
    position: absolute;
    top: 50rem;
    left: 48%;
}

#ExhibPost {
    min-width: 50%;
    min-height: 50%;
    max-width: 100%;
    max-height: 100%;


}
/* #ExhibPost:hover {
    transform: scale(1.25);
    transition: all 2s;
}
.aucpost:hover {
        transform: scale(1.25);
        transition: all 2s;
    
} */