.bodyclass {
    background-color: #1E2736;
    overflow: auto;
    padding: 0;
    margin: 0;
}

.header{
    display: grid ;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;
}

#search{
    width: 640px;
    height: 50px;
    background: #E9DAD3;
    border-radius: 15px;
    /* float: left; */
    position: relative;
    /* font-family: Mj_Ramollah; */
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: left;
    padding-left: 40px;
    color: #FFFEFB;
    margin-left: auto;
    margin-right: auto;
    top: -3px;
    background-image: url('../img/search-icon.png');
    background-repeat: no-repeat;
    background-size: 40px;
    grid-column: 2/3;
    grid-row: 1;
    align-self: center;
    justify-self: center;
}

.contact{
    background-color: #E9DAD3;
    height: 50px;
    right: 46px;
    float: right;
    top: 33px;
    position: absolute;
    padding: 0.5%;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 15px;
    font-family: 'B Koodak';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    grid-column: 3/3;
    grid-row: 1;
    align-self: center;
    justify-self: center;
}

.profile{
    height: 80px;
    width : 80px;
    margin: 20px;
    top: -4px;
    position: relative;
    grid-column: 1/3;
    grid-row: 1;
    align-self: center;
    justify-self: center;
    left: -450px;
}

.showplace{
    background-color: #E9DAD3;
    width: 98%;
    height: 350px;
    left: 11px;
    border-radius: 15px;
    position: relative;
    top: -10px;
    display: grid ;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-content: center;
}

.auction{
    background-color: #E9DAD3;
    width: 98%;
    height: 350px;
    left: 11px;
    border-radius: 15px;
    position: relative;
    top: 20px;
    display: grid ;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-content: center;
}

.blue{
    background-color: #1E2736;
    padding: 0.5%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15px;
    font-family: 'B Koodak';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: white;
    margin: 30px;
    width: 200px;
}

.background{
    background-color: #C4C4C4;
    width: 400px;
    height: 200px;
}

.back{
    width: 120px;
    height: auto;
    grid-column: 2/3;
    grid-row: 1;
    justify-self: center;
    align-self: center;
}

.next{
    width: 120px;
    height: auto;
    grid-column: 4/5;
    grid-row: 1;
    justify-self: center;
    align-self: center;
}


.backa{
    width: 120px;
    height: auto;
    grid-column: 2/3;
    grid-row: 1;
    justify-self: center;
    align-self: center;  
}

.nexta{
    width: 120px;
    height: auto;
    grid-column: 4/5;
    grid-row: 1;
    justify-self: center;
    align-self: center;
}



.timer{
    grid-column: 1/2;
    grid-row: 1;
    align-self: center;
    justify-self: center;
    position: inherit;
    left: 30px;
}



.bannera{
    grid-column: 3/4;
    grid-row: 1;
    background-color: #C4C4C4;
    position: relative;
    width: 600px;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
}

.bannere{
    grid-column: 3/4;
    grid-row: 1;
    background-color: #C4C4C4;
    position: relative;
    width: 600px;
    text-align: center;
    padding: 20px;
    border-radius: 15px;
}

#status{
    grid-row: 2;
    grid-column: 2/3;
    align-self: center;
    justify-self: center;
}

#profile{
    grid-row: 2;
    grid-column: 4/5;
    align-self: center;
    justify-self: center;
}

#enter{
    grid-row: 2;
    grid-column: 3/4;
    align-self: center;
    justify-self: center;
}

#statusa{
    grid-row: 2;
    grid-column: 2/3;
    align-self: center;
    justify-self: center;
}

#asara{
    grid-row: 2;
    grid-column: 4/5;
    align-self: center;
    justify-self: center;
}

#entera{
    grid-row: 2;
    grid-column: 3/4;
    align-self: center;
    justify-self: center;
}

#bpost{
    width: 70px;
    height: auto;
    position: absolute;
    top: 360px;
    left: 48%;
}