.bodyclass {
    background-color: #1E2736;
    overflow: auto;
    padding: 0;
    margin: 0;
}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;
}

#search {
    width: 640px;
    height: 50px;
    background: #E9DAD3;
    border-radius: 15px;
    position: relative;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: right;
    padding-right: 40px;
    color: #FFFEFB;
    margin-left: auto;
    margin-right: auto;
    top: -3px;
    background-image: url('../img/search-icon.png');
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: right;
    grid-column: 2/3;
    grid-row: 1;
    align-self: center;
    justify-self: center;
    color: black;
}

.contact {
    background-color: #E9DAD3;
    height: 50px;
    right: 46px;
    float: right;
    top: 33px;
    position: absolute;
    padding: 0.5%;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 15px;
    font-family: 'B Koodak';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    grid-column: 3/3;
    grid-row: 1;
    align-self: center;
    justify-self: center;
    cursor: pointer;
}

.profile {
    height: 80px;
    width: 80px;
    margin: 20px;
    top: -4px;
    position: relative;
    grid-column: 1/3;
    grid-row: 1;
    align-self: center;
    justify-self: center;
    left: -450px;
    cursor: pointer;
    border-radius: 50%;
    border: 0.2rem solid #E9DAD3 ;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.profile_name{
    grid-row: 1;
    grid-column: 1;
    align-self: center;
    justify-self: center;
    font-size: 2rem;
    color: #E9DAD3;
    font-weight: 700;
    margin-left: -9rem;
}
.showplace {
    background-color: #E9DAD3;
    width: 98%;
    height: 350px;
    left: 11px;
    border-radius: 15px;
    position: relative;
    top: -10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-content: center;
}

.auction {
    background-color: #E9DAD3;
    width: 98%;
    height: 350px;
    left: 11px;
    border-radius: 15px;
    position: relative;
    top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-content: center;
}

.blue {
    background-color: #1E2736;
    padding: 0.5%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15px;
    font-family: 'B Koodak';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: white;
    margin: 30px;
    width: 200px;
    cursor: pointer;
}

.background {
    background-color: #C4C4C4;
    width: 400px;
    height: 200px;
}

.back {
    width: 120px;
    height: auto;
    grid-column: 2/3;
    grid-row: 1;
    justify-self: center;
    align-self: center;
    cursor: pointer;
}

.next {
    width: 120px;
    height: auto;
    grid-column: 4/5;
    grid-row: 1;
    justify-self: center;
    align-self: center;
    cursor: pointer;
}


.backa {
    width: 120px;
    height: auto;
    grid-column: 2/3;
    grid-row: 1;
    justify-self: center;
    align-self: center;
    cursor: pointer;
}

.nexta {
    width: 120px;
    height: auto;
    grid-column: 4/5;
    grid-row: 1;
    justify-self: center;
    align-self: center;
    cursor: pointer;
}



.timer {
    grid-column: 1/2;
    grid-row: 1;
    align-self: center;
    justify-self: center;
    position: inherit;
    left: 30px;
    background-color: transparent;
    border: none;
    font-size: 24px;
    text-align: center;
    width: 150px;
    pointer-events: none;
}



.bannera {
    grid-column: 3/4;
    grid-row: 1;
    background-color: #C4C4C4;
    position: relative;
    width: 600px;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
}

.bannera img {
    margin: auto;
}

.bannere {
    grid-column: 3/4;
    grid-row: 1;
    background-color: #C4C4C4;
    position: relative;
    width: 600px;
    text-align: center;
    padding: 20px;
    border-radius: 15px;
}

.bannere img {
    margin: auto;
}

#status {
    grid-row: 2;
    grid-column: 2/3;
    align-self: center;
    justify-self: center;
}

#profile {
    grid-row: 2;
    grid-column: 4/5;
    align-self: center;
    justify-self: center;
}

#enter {
    grid-row: 2;
    grid-column: 3/4;
    align-self: center;
    justify-self: center;
}

#statusa {
    grid-row: 2;
    grid-column: 2/3;
    align-self: center;
    justify-self: center;
}

#asara {
    grid-row: 2;
    grid-column: 4/5;
    align-self: center;
    justify-self: center;
}

#entera {
    grid-row: 2;
    grid-column: 3/4;
    align-self: center;
    justify-self: center;
}

#bpost {
    width: 70px;
    height: auto;
    position: absolute;
    top: 360px;
    left: 48%;
}
