* {
    margin: 0;
    padding: 0;
    font-family: 'B Yekan';
}
.bodyClass_profiless {
    background-color: #29354A !important;
    margin: 0px;
}

.main_profiless {
    overflow-x: hidden;
}

#img_back_profiless {
    display: flex;
    justify-content: center;
}

#img_back_profiless img {
    width: 995px;
}

#img_back_profiless {
    transform: rotate(0.4deg);
    -webkit-transform: rotate(0.4deg);
    -moz-transform: rotate(0.4);
    -o-transform: rotate(0.4);
    -ms-transform: rotate(0.4);
}

#img_prof_profiless {
    position: fixed;
    margin-top: -649px;
    margin-left: 80px;
    z-index: 5;
}
#img_prof_profiless:hover {
    transform: scale(1.1) translateY(-2rem);
    transition: all 0.5s;

}
#img_prof_profiless:focus {
    transform: scale(1.1) translateY(-2rem);
    transition: all 0.5s;
}

#profile_image_profiless {
    width: 144px;
    height: 138px;
    border-radius: 100px;
}

#img_prof_btn_profiless {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-left: -45px;
    margin-top: 110px;
    z-index: 3;
    position: fixed;
    display: none;
}

#img_prof_label_profiless {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-left: 92px;
    margin-top: -26px;
    z-index: 3;
    position: fixed;
    cursor: pointer;
    background-color: #FFFEFB;
    text-align: center;
}

#Bio_textarea_profiless {
    background-color: #E9DAD3;
    resize: none;
    margin-top: -515px;
    margin-left: 70px;
    border-style: dashed;
    position: fixed;
    border-radius: 5px;
    text-align: right;
    direction: rtl;
    padding-right: 5px;
    padding-top: 5px;
    width: 165px;
    height: 310px;
}
#Bio_textarea_profiless:hover {
    transform: scale(1.1) translateY(2rem);
    transition: all 0.5s;

}
#Bio_textarea_profiless:focus {
    transform: scale(1.1) translateY(2rem);
    transition: all 0.5s;
}
.common_form_profiless {
    box-sizing: border-box;
    float: left;
    margin-left: 510px;
    width: 150px;
    height: 40px;
    font-size: 15px;
    background-color: #E9DAD3;
    position: relative;
    z-index: 2;
    border-radius: 15px;
    text-align: right;
    direction: rtl;
    padding: 10px;
}

.common_form_profiless:hover {
    transform: scale(1.1);
    transition: all 0.5s;

}
.common_form_profiless:focus {
    transform: scale(1.1);
    transition: all 0.5s;
}
#firstname_text_profiless {
    margin-top: -580px;
    margin-left: 760px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

#lastname_text_profiless {
    margin-top: -580px;
    width: 240px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

#username_text_profiless {
    margin-top: -520px;
    width: 400px;
    text-align: center;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

#email_input_profiless {
    margin-top: -460px;
    width: 400px;
    text-align: center;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

}

#phone_input_profiless {
    margin-top: -400px;
    width: 400px;
    text-align: center;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

#Address_textarea_profiless {
    width: 300px;
    height: 180px;
    font-size: 18px;
    background-color: #E9DAD3;
    resize: none;
    margin-top: -340px;
    top: -175px;
    margin-left: 510px;
    position: relative;
    border-radius: 5px;
    z-index: 2;
    text-align: right;
    direction: rtl;
    padding: 5px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
#Address_textarea_profiless:hover {
    transform: scale(1.1);
    transition: all 0.5s;

}
#Address_textarea_profiless:focus {
    transform: scale(1.1);
    transition: all 0.5s;
}
#postalcode_input_profiless {
    margin-top: -160px;
    width: 400px;
    text-align: center;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

#submit_input_profiless {
    margin-left: 600px;
    margin-top: -100px;
    width: 10rem;
    height: 5rem;

    border-radius: 0px;
    border: 5px outset #29354A;

    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 1;
    padding: 0px;
    text-align: center;
    font-family: vazir;
    background-color: #29354A;
    color: white;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    
}
#submit_input_profiless:focus {
    transform: translateY(-1rem);
}

#submit_input_profiless:hover {
    transform: translateY(-1rem);
    transition: all 0.5s;

}
#invitation_codes_textarea_profiless {
    width: 180px;
    height: 330px;
    font-size: 18px;
    background-color: #E9DAD3;
    resize: none;
    margin-top: -515px;
    margin-left: 1330px;
    position: fixed;
    border-radius: 5px;
    z-index: 5;
    text-align: right;
    overflow-x: scroll;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 50px;
    padding-left: 5px;
    padding-top: 35px;
    overflow-y: hidden;
}
#img_home_icon{
    top: 2rem;
    left: 1rem;
    position: absolute;
}
#img_home_icon:hover{
    transform: translateY(-1rem);
    transition: all 0.5s;
}


/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
#myForm{
    z-index: 40;
}