
@import url('https://fonts.googleapis.com/css2?family=KoHo:wght@200&display=swap');

.bodyclass{
    background-color: #E9DAD3;
    overflow-x: hidden;
}

.header{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-content: center;
    margin-top: 20px;
    height: 176px;
    margin-right: 50px;
    margin-top: 5rem;
}

.profile{
    height: 140px;
    width: 140px;
    margin: 40px;
    grid-row: 2;
    grid-column: 1;
    align-self: center;
    justify-self: center;
    border-radius: 50%;
    border: 0.2rem solid #1E2736;
}


.name{
    font-size: 30px;
    grid-row: 2;
    grid-column: 1;
    align-self: center;
    justify-self: center;
}

.bio{
    background-color: #C2CCC1;
    color: #000000;
    font-size: 15px;
    resize: none;
    grid-row: 2/4;
    grid-column: 2/5;
    text-align: right;
    padding: 15px;
    border-radius: 20px;
    margin-right: 120px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.btn{
    background-color: #C4C4C4;
    padding: 0.5%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 15px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    font-weight: bold;
    color: black;
    width: 180px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

}


.btn:focus {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.171);
    transform: translateY(-1rem);
    transition: all 0.5s;
}

.btn:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.171);
    transform: translateY(-1rem);
    transition: all 0.5s;

}
#exit{
    grid-row: 2;
    grid-column: 6;
    align-self: start;
    justify-self: center;
}

#edit{
    grid-row: 2;
    grid-column: 6;
    align-self: end;
    justify-self: center;
}


#follow{
    grid-row: 2;
    grid-column: 6;
    align-self: center;
    justify-self: center;
}


#unfollow{
    grid-row: 2;
    grid-column: 6;
    align-self: center;
    justify-self: center;
}


.artcom{
    font-family: 'Akaya Kanadaka';
    width: 100%;
    text-align: center;
    font-size: 110px;
    text-decoration: underline;
    letter-spacing: 0.165em;
}

.info{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    align-content: center;
    margin-top: 10rem;
}

.postsNum{
    color: #000000;
    font-size: 20px;
    grid-column: 2;
    align-self: center;
    justify-self: center;
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    word-spacing: 15px;
    cursor: pointer;
    font-family: 'KoHo';
}

.exhibNum{
    color: #000000;
    font-size: 20px;
    grid-column: 3;
    align-self: center;
    justify-self: center;
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    word-spacing: 15px;
    cursor: pointer;
    font-family: 'KoHo';
}

.auctionNum{
    color: #000000;
    font-size: 20px;
    grid-column: 4;
    align-self: center;
    justify-self: center;
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    word-spacing: 15px;
    cursor: pointer;
    font-family: 'KoHo';
}

.followersNum{
    color: #000000;
    font-size: 20px;
    grid-column: 5;
    align-self: center;
    justify-self: center;
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    word-spacing: 15px;
    cursor: pointer;
    font-family: 'KoHo';
}

.followingNum{
    color: #000000;
    font-size: 20px;
    grid-column: 6;
    align-self: center;
    justify-self: center;
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    word-spacing: 15px;
    cursor: pointer;
    font-family: 'KoHo';
}

.addpost{
    margin: 20px;
    background-color: #1E2736;
    border-radius: 10px;
    margin-top: 40px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.addpost:focus {
    transform: translateY(-1rem);
    transition: all 0.5s;
}

.addpost:hover {
    transform: translateY(-1rem);
    transition: all 0.5s;

}
.cpost{
    color: white;
    font-size: 20px;
    font-size: 20px;
    display: inline;    
    position: relative;
    left: 42%;
}

.addp1{
    width: 58px;
    display: inline;
    position: relative;
    left: 41%;
}

.addp2{
    width: 80px;
    display: inline;
    position: relative;
    left: 42%;
}

.exhibitionTitle{
    font-size: 24px;
    text-align: center;
    margin-top: 5rem;
}

.showplace{
    margin: 20px;
    background-color: #1E2736;
    border-radius: 10px;
    margin-top: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-content: center;
    padding: 50px;
    height: 350px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.back {
    width: 120px;
    height: auto;
    grid-column: 2/3;
    grid-row: 1;
    justify-self: center;
    align-self: center;
    cursor: pointer;
}
.back:focus {
    transform: translateY(-1rem);
    transition: all 0.5s;
}

.back:hover {
    transform: translateY(-1rem);
    transition: all 0.5s;

}
.next {
    width: 120px;
    height: auto;
    grid-column: 4/5;
    grid-row: 1;
    justify-self: center;
    align-self: center;
    cursor: pointer;
}
.next:focus {
    transform: translateY(-1rem);
    transition: all 0.5s;
}

.next:hover {
    transform: translateY(-1rem);
    transition: all 0.5s;

}
.bannere {
    grid-column: 3/4;
    grid-row: 1;
    background-color: #C4C4C4;
    position: relative;
    width: 600px;
    text-align: center;
    padding: 20px;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}

.bannere img {
    margin: auto;
}

.postere{
    height: 175px;
}

#status {
    grid-row: 2;
    grid-column: 2/3;
    align-self: center;
    justify-self: center;
}

#viewe {
    grid-row: 2;
    grid-column: 4/5;
    align-self: center;
    justify-self: center;
}

#createe {
    grid-row: 2;
    grid-column: 3/4;
    align-self: center;
    justify-self: center;
}

.btn2 {
    background-color: #E9DAD3;
    padding: 0.5%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: black;
    margin: 30px;
    width: 200px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

}
.btn2:focus {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.171);

    transform: translateY(-1rem);
    transition: all 0.5s;
}

.btn2:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.171);

    transform: translateY(-1rem);
    transition: all 0.5s;
}
.btn3{
    background-color: #E9DAD3;
    padding: 0.5%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: black;
    margin: 30px;
    width: 200px;
    cursor: auto;
}
#wallet {
    grid-row: 2;
    grid-column: 6;
    align-self:center;
    justify-self: center;
}
#psahome{
    width: 58px;
    align-self: center;
    justify-self: center;
}
#homebtn {
    grid-row: 1;
    grid-column: 1;

 
}


#homebtn img:focus {
    transform: scale(1.4);
    transition: all 0.5s;
}

#homebtn img:hover {
    transform: scale(1.4);
    transition: all 0.5s;

}
.star_rate{
    position: absolute;
    top: 33%;
    left: 5%;
}
.fetchdata{
    font-size: 2rem;
    text-align: center;
}
