@import url('https://fonts.googleapis.com/css2?family=KoHo:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=KoHo:ital,wght@0,200;1,600&display=swap');

.bodyclass{
    background-color: #E9DAD3;
    overflow: hidden;
}

.header{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-content: center;
    position: absolute;
    top: 4rem;
    gap: 2rem;
    /* left: 10rem; */
    height: 176px;
    /* margin-top: 10rem; */
    width: 100%;

}

.profile{
    width: 110px;
    grid-row: 1;
    grid-column: 1;
    align-self: center;
    justify-self: center;
}

.name{
    font-size: 20px;
    grid-row: 2;
    grid-column: 1;
    align-self: center;
    justify-self: center;
}

.bio{
    background-color: rgb(194, 204, 193);
    color: rgb(0, 0, 0);
    font-size: 15px;
    resize: none;
    grid-area: 1 / 2 / auto / 4;
    text-align: right;
    padding: 15px;
    border-radius: 20px;
    justify-self: center;
    width: 100%;
}

.following{
    color: #000000;
    font-size: 20px;
    grid-row: 1/3;
    grid-column: 4;
    align-self: center;
    justify-self: center;
    font-weight: bold;
    word-spacing: 15px;
    cursor: pointer;
    font-family: 'KoHo';
}

.btn{
    background-color: #C4C4C4;
    padding: 0.5%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 15px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    font-weight: bold;
    color: black;
    width: 180px;
    cursor: pointer;
}

#exit{
    grid-row: 1;
    grid-column: 4;
    align-self: start;
    justify-self: center;
}

#edit{
    grid-row: 1;
    grid-column: 4;
    align-self: end;
    justify-self: center;
}

.artcom{
    font-family: 'Akaya Kanadaka';
    width: 100%;
    text-align: center;
    font-size: 86px;
    text-decoration: underline;
    letter-spacing: 0.165em;
    color: #29354A;
    top: 20rem;
    position: absolute;
}
#img1{
    top: 45%;
    position: fixed;
    width: 406px;
    left: 34%;
}
#img2{
    top: 40%;
    left: 59%;
    width: 657px;
    position: fixed;
}
#img3{
    top: 40%;
    width: 381px;
    position: fixed;
}
#psnhome{
    width: 58px;
    position: relative;
    top: -5%;
    left: 6px;
}