@import url('https://fonts.googleapis.com/css2?family=KoHo:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=KoHo:ital,wght@0,200;1,600&display=swap');

.bodyclass {
    background-color: #E9DAD3;
    overflow: hidden;
}

.header {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-content: center;
    position: absolute;
    top: 6rem;
    gap: 2rem;
    /* left: 10rem; */
    height: 176px;
    /* margin-top: 10rem; */
    width: 100%;

}

.profile {
    width: 110px;
    grid-row: 1;
    grid-column: 1;
    align-self: center;
    justify-self: center;
}

.name {
    font-size: 20px;
    grid-row: 2;
    grid-column: 1;
    align-self: center;
    justify-self: center;
}

.bio {
    background-color: rgb(194, 204, 193);
    color: rgb(0, 0, 0);
    font-size: 15px;
    resize: none;
    grid-area: 1 / 2 / auto / 4;
    text-align: right;
    padding: 15px;
    border-radius: 20px;
    justify-self: center;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

}

.following {
    color: #000000;
    font-size: 20px;
    grid-row: 1/3;
    grid-column: 4;
    align-self: center;
    justify-self: center;
    font-weight: bold;
    word-spacing: 15px;
    cursor: pointer;
    font-family: 'KoHo';
}

.btn {
    background-color: #C4C4C4;
    padding: 0.5%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 15px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    font-weight: bold;
    color: black;
    width: 180px;
    cursor: pointer;
}

.btn:focus {
    transform: translateY(-1rem);
    transition: all 0.5s;
}

.btn:hover {
    transform: translateY(-1rem);
    transition: all 0.5s;

}

#exit {
    grid-row: 1;
    grid-column: 4;
    align-self: start;
    justify-self: center;
}

#edit {
    grid-row: 1;
    grid-column: 4;
    align-self: end;
    justify-self: center;
}

.artcom {
    font-family: 'Akaya Kanadaka';
    width: 100%;
    text-align: center;
    font-size: 12rem;
    text-decoration: underline;
    letter-spacing: 0.165em;
    color: #29354A;
    grid-row: 1;
    grid-column: 2/4;
    align-self: center;
}

#img1 {
    top: 55%;
    position: fixed;
    width: 406px;
    left: 34%;

    height: 50%;

}

#img2 {
    top: 50%;
    left: 59%;
    width: 657px;
    position: fixed;

    height: 50%;

}

#img3 {
    top: 50%;
    width: 381px;
    position: fixed;

    height: 50%;

}

#psnhome {
    width: 58px;
    position: relative;
    top: -5%;
    left: 6px;
}

#psnhome:focus {
    transform: scale(1.4);
    transition: all 0.5s;
}

#psnhome:hover {
    transform: scale(1.4);
    transition: all 0.5s;

}