.bodyclass {
    background-color: #1E2736;
    overflow: auto;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr ;
    align-content: center;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
}

.btn{
    background-color: #E9DAD3;
    padding: 0.5%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15px;
    font-family: 'B Yekan';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    font-weight: bold;
    color: black;
    width: 180px;
    cursor: pointer;
}

.btn:hover{
    box-shadow: 0 0.25rem 0.25rem #e74c3c;
    transform: scale(1.1);
    transition: all 0.2s;
}

.container{
    background-size: contain;
    background-repeat: no-repeat;
    border: 60px dashed transparent;
    padding: 15px;
    border-image: url(../img/frame.png) 120;
    background-position: center;
    grid-row: 1/4;
    grid-column: 2/5;
}


#profile{
    grid-row: 2/3;
    grid-column: 1;
    align-self: center;
    justify-self: center;
    width: 130px;
    cursor: pointer;
}

#about{
    margin: 5rem;
    color: white;
    font-family: 'B Yekan';
    font-style: normal;
    font-size: 18px;
    font-weight: 100;
    width: 270px;
    height: 200px;
    line-height: 200%;
    overflow-x: none;
    text-align: center;
    direction: rtl;
    grid-row: 3/4;
    grid-column: 1;
    align-self: center;
    justify-self: center;
    background-color: transparent;
    border: none;
    pointer-events: none;
    text-align: right;
    direction: rtl;
    resize: none;
}

#title{
    color: white;
    font-family: 'B Yekan';
    font-style: normal;
    font-size:  32px;
    font-weight: 100;
    text-align: center;
    direction: rtl;
}

.Name{
    grid-row: 1;
    grid-column: 5;
    top: 20px;
    right: 180px;
    align-self: center;
    justify-self: center;
}

.Price{
    grid-row: 2;
    grid-column: 5;
    top: 158px;
    right: 167px;
    align-self: center;
    justify-self: center;
}

.Date{
    grid-row: 3;
    grid-column: 5;
    top: 321px;
    right: 170px;
    align-self: start;
    justify-self: center;
}

#back{
    width: 118px;
    grid-row: 4;
    grid-column: 1;
    align-self: center;
    justify-self: center;
    cursor: pointer;
}

#next{
    width: 118px;
    grid-row: 4;
    grid-column: 5;
    width: 111px;
    align-self: center;
    justify-self: center;
    cursor: pointer;
    cursor: pointer;
}

#seencount{
    color: white;
    font-family: 'B Yekan';
    font-style: normal;
    font-size:  20px;
    font-weight: 100;
    position: fixed;
    bottom: 5px;
    left: 95%;
    background-color: transparent;
    border: none;
    pointer-events: none;
}

#seenimg{
    position: fixed;
    bottom: 10px;
    left: 97%;
    width: 20px;
}

#livecount{
    color: white;
    font-family: 'B Yekan';
    font-style: normal;
    font-size:  20px;
    font-weight: 100;
    position: fixed;
    bottom: 5px;
    left: 3%;
    background-color: transparent;
    border: none;
    pointer-events: none;
}

#liveimg{
    position: fixed;
    bottom: 10px;
    left: 1%;
    width: 20px;
}

#exit{

    grid-row: 1;
    grid-column: 1;
    align-self: center;
    justify-self: center;
}
#buy{
    grid-row: 5;
    grid-column: 2;
    align-self: center;
    justify-self: center;
}

#play{
    grid-row: 5;
    grid-column: 4;
    align-self: center;
    justify-self: center;
}

.values{
    background-color: transparent;
    border: none;
    pointer-events: none;
}

.likecontain{
    grid-row: 5;
    grid-column: 3;
    align-self: center;
    justify-self: center;
    justify-content: center;
    display: grid;
    grid-column: 1fr 1fr 1fr;
    grid-row: 1fr 1fr;
    
}

.like{
    border-radius: 20px;
    padding: 5px;
    align-self: center;
    justify-self: center;
    grid-row: 1;
    grid-column: 2;
    align-self: center;
    justify-self: center;
    width: 50px;
    cursor: pointer;
}

.like:hover{
    background-color: hsl(0, 64%, 48%);
    outline: 3px dashed white;
}

.liked{
    background-color: hsl(0, 64%, 48%);
    outline: 3px dashed white;
    border-radius: 20px;
    padding: 5px;
    align-self: center;
    justify-self: center;
    grid-row: 1;
    grid-column: 2;
    align-self: center;
    justify-self: center;
    width: 50px;
    cursor: pointer;
}

#count{
    text-align: center;
    color: white;
    font-family: 'B Yekan';
    font-style: normal;
    font-size:  24px;
    font-weight: 100;
    align-self: center;
    justify-self: center;
    background-color: transparent;
    border: none;
    pointer-events: none;
    grid-row: 2;
    grid-column: 2;
    align-self: center;
    justify-self: center;
    
}
.livebox{
grid-row: 5;
grid-column: 1;
display: grid;
grid-row: 1fr 1fr;

}
.seenbox{
    grid-row: 5;
    grid-column: 5;
    display: grid;
    grid-row: 1fr 1fr;
    
}