*{
    padding:0;
    margin:0;
}
body {
    background-color: #E9DAD3;
    overflow: auto;
}
#wrapper {
    background-repeat: no-repeat;
    direction: rtl;
    background-image: url(./SignUp/image/Image2.png), url(./SignUp/image/Two_Styles_of_Girls_illustrations-removebg-preview.png),url('./SignUp/image/Abbey_Lossing_on_what_it_s_like_to_be_a_staff_illustrator_at_Buzzfeed_and_Vice_News-removebg-preview.png'),url(./SignUp/image/Image1.png),url(./SignUp/image/Image1.png),url(./SignUp/image/Image2.png),url(./SignUp/image/Image2.png);
    width: 1500px;
    height: 772px;
    background-size: 427px, 393px,691px, 503px, 498px,427px,427px;
    background-position: 137px -7px, 1206px 70px, -48px -48px, 991px 601px, 613px 602px,565px -7px, 994px -7px;
}
.box {
    width: 387px;
    height: 45px;
    background: #1E2736;
    border-radius: 15px;
    float: left;
    position: absolute;
    font-family: 'B Koodak';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 50px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #FFFEFB;
}
#firstname {
    left: 155px;
    top: 23px;
}
#lastname {
    left: 154px;
    top: 82px;
}
#email {
    left: 154px;
    top: 141px;
    text-align: left;
}
#username {
    left: 154px;
    top: 201px;
}
#password {
    left: 583px;
    top: 23px;
}
#confirmpassword {
    left: 583px;
    top: 82px;
}
#invitationcode {
    left: 583px;
    top: 141px;
    text-align: left;
}
#label {
    font-family: Mj_Ramollah;
    left: 846px;
    top: 201px;
    font-size: 25px;
    width: 124px;
    text-align: center;
}
#selection {
    left: 583px;
    top: 201px;
    width: 248px;
}
#address {
    left: 1014px;
    top: 23px;
    height: 162px;
}
#postalcode {
    left: 1013px;
    top: 200px;
    text-align: left;
}
#singup {
    width: 106px;
    height: 45px;
    background: #1E2736;
    border-radius: 15px;
    float: left;
    position: absolute;
    font-family: Mj_Ramollah;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFEFB;
    left: 706px;
    top: 313px;
    background-image: url('./SignUp/image/icons8-art-64.png');
    background-repeat: no-repeat;
    background-size: 40px;
}
::placeholder {
    color: rgba(215, 211, 211, 0.82);
    text-align:center;
}