#forgotpass--page{
    background-image: url(../img/Awesome\ Pastels\ Aesthetic\ Computer\ Wallpapers\ -\ WallpaperAccess.jpg);
    background-size: cover;
    transform: scale(1.00075);
    height: 100vh;
    width: 100%;
    direction: rtl;
}
#FG_newpassword_l{
    width: 200px;
    font-size:24px;
    color: #E9DAD3;
    display: inline-block;
    
}
#FG_newpassword{
    margin: 15px auto;
    width: 280px;
    height: 40px;
    border-radius: 5px;
    background-color: #E9DAD3;
    box-shadow: 0 0 5px;
    color: #1E2736;
    font-size: 18px;
}
#FG_confirmnewpassword_l{
    width: 200px;
    font-size:24px;
    display: inline-block;
    color: #E9DAD3;
}
#FG_confirmnewpassword{
    margin: 15px auto;
    width: 280px;
    height: 40px;
    border-radius: 5px;
    background-color: #E9DAD3;
    box-shadow: 0 0 5px;
    color: #1E2736;
    font-size: 18px;
    
}
#FG_save{
    width: 100px;
    padding: 6px 8px;
    font-size: 18px;
    background-color: #B4c5de;
    border: 1px solid gray;
    border-radius: 4px;
    top: 280px;
    left: -250px;
    position: relative;
}
#FG_save:hover{
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.8);
    transform: scale(1.3);
    transition: all 0.5s;
}

#FG_back{
    width: 100px;
    padding: 6px 8px;
    background-color: #B4c5de;
    border: 1px solid gray;
    border-radius: 4px;
    top: 280px;
    left: -300px;
    position: relative;
    font-size: 18px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.8);
}
#FG_back:hover{
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.8);
    transform: scale(1.3);
    transition: all 0.5s;
}
#FG_Form{
    top: 30%;
    left: -35%;
    position: relative;
    background-color: #1E2736;
    display: inline-block;
    width: 500px;
    height: 200px;
    border-radius: 20px;
    padding-right: 5px;
}