.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.75);
  z-index: 5;
}
.modal {
  padding: 10px;
  max-width: 480px;
  margin: 30px auto;
  background: #1E2736;
  border-radius: 10px;
  border:4px solid; 
  border-color:#ecf0f1;
  text-align:center;
  
}
.modal h2 {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}