.img-post{

}
.post-page{
    background-color:#E9DAD3;
}
.centertext{
    text-align: center;
    font-family: vazir;
    
}
.title{
    font-size: 1.5rem;
    font-family: vazir;
    font-weight: 700;
    margin-bottom: 2rem;
    
}
.righttext{
    text-align: right;
    font-size: 1.3rem;
    font-family: vazir;
    line-height: 2.5rem;
}
.list{
    list-style: none;
}
.like-box{
    
}
.flexy{
    justify-content: space-around;
}