#RE_wrapper{
    background-image: url(../img/Receive.jpg);
    background-size: cover;
    height: 100vh;
    width: 100vw;
    direction: rtl;
}
#RE_Thank{
    background-color: #1E2736;
    color: #E9DAD3;
    font-size: 32px;
    display: inline;
    position: relative;
    text-align: center;
    top: 20%;
    left: -35%;
    padding: 15px 32px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.8);
    border-radius: 15px;
}
#RE_Text1{
    background-color: #1E2736;
    color: #E9DAD3;
    font-size: 24px;
    display: inline;
    position: relative;
    text-align: center;
    left: 12px;
    top: 35%;
    padding: 15px 32px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.8);
    border-radius: 15px;
}
#RE_Text2{
    background-color: #1E2736;
    color: #E9DAD3;
    font-size: 24px;
    display: inline;
    position: relative;
    text-align: center;
    left: -590px;
    top: 45%;
    padding: 15px 32px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.8);
    border-radius: 15px;
}